<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div>
    <a [routerLink]="['/home']" class="app-title">
      <img width=" 40" alt="GrizzlyAPI Logo" src="https://www.grizzly-api.com/assets/images/landing/logo.png" />
      <span style="vertical-align: super;padding-left: 10px;">Grizzly API Starter </span>
    </a>
  </div>
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>